<div class="menu container-fluid">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-1 menu__container-imag">
        <img src="assets/img/logo.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-9 offset-md-2">
        <div class="menu__container-menu">
          <ul class="menu__container-menu__list">
            <li class="menu__container-menu__list__item"
              *ngFor="let item of menuOptions"
            >
              <a href="{{item.path}}" class="menu__container-menu__list__item__link">
                {{item.label}}
              </a>
             </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
