@import '../../../styles//variables.scss';

.beneficios{
  padding-top: 40px;
  padding-bottom: 40px;
    &__caption{

      display: flex;
      align-items: center;
      &__tittle{
        margin-bottom: 40px;
      }
      & .subtitle{

      }
    }
  }

  .img-style{
    position: absolute;
    bottom: -65%;
    left: 0;
    width: 99px;
    height: auto;
  }
