<div class="container beneficios">
  <div class="row">
    <div class="col-md-6 beneficios__caption">
      <div class="row">
        <div class="col-12 beneficios__caption__tittle tittle">
            Beneficios de usar Plan life
        </div>
        <div class="col-12 mb-4">
          <div class="row align-items-center">
            <div class="col-1">
              <img src="assets/img/icon_hands.svg" class="img-fluid" alt="">
            </div>
            <div class="col-11">
              <div class="subtitle">Costo</div>
              <div class="text">Nuestra tecnología nos permite reducir costos y ofrecer tarifas competitivas</div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="row align-items-center">
            <div class="col-1">
              <img src="assets/img/icon_escudo.svg" class="img-fluid" alt="">
            </div>
            <div class="col-11">
              <div class="subtitle">Seguridad</div>
              <div class="text">Estamos certificados para proteger todas tus transacciones. asistencia a usuarios, Asistencia personalizada, soporte</div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="row align-items-center">
            <div class="col-1">
              <img src="assets/img/icon_computer.svg" class="img-fluid" alt="">
            </div>
            <div class="col-11 ">
              <div class="subtitle">Atención 24/7</div>
              <div class="text">Somos una empresa mexicana. Entendemos mejor que nadie tus necesidades. </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="row align-items-center">
            <div class="col-1">
              <img src="assets/img/icon_card.svg" class="img-fluid" alt="">
            </div>
            <div class="col-11 ">
              <div class="subtitle">Registro rápido y sencillo</div>
              <div class="text">Registrate y empieza a transaccionar en menos de 30 minutos </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/img/img2.svg" class="img-fluid" alt="">
    </div>
  </div>
</div>

<div class="img-style">
  <img src="assets/img/arrow_purple_left.svg" alt="">
</div>
