<div class="container-fluid p-5 salud">
  <div class="container">
    <div class="row">
      <div class="col-6 mt-5">
        <img src="assets/img/img1.svg" class="img-fluid" alt="">
      </div>
      <div class="col-6 ">
        <div class="row">
          <div class="col-12">

            <div class="tittle">
              Que lo más importante sea tu salud, cuídala con nosotros
            </div>
          </div>
          <div class="col-6 text-center mt-5">
            <img src="assets/img/item1.jpg" class="salud__img" alt="">
            <p class="text">
              Responde algunas preguntas sencillas
            </p>
          </div>
          <div class="col-6  text-center mt-5">
            <img src="assets/img/item2.jpg" class="salud__img" alt="">
            <p class="text">
              Obten precios en un instante*.
            </p>
          </div>
          <div class="col-6  text-center mt-5">
            <img src="assets/img/item3.jpg" class="salud__img" alt="">
            <p class="text">
              Inicie su solicitud en línea
            </p>
          </div>
          <div class="col-6  text-center mt-5">
            <img src="assets/img/item4.jpg" class="salud__img" alt="">
            <p class="text">
              Profecionales con mas de 50 años de expericiencia en seguros.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="img-styler">
  <img src="assets/img/arrow_purpple_rigth.svg" alt="">
</div>




