.salud{

  &__img{

    width: 150px;
    object-fit: cover;
  }
  & p.text{
    margin-top: 20px;
    font-weight: 500;
  }
}

.img-styler{
  position: relative;
  bottom: 50%;
  left: 94.5%;
  width: 99px;
  height: auto;
}
