<div class="container-fluid container-protect p-4" >
  <div class="container mt-4 ">
    <div class="row align-items-center">
      <div class="col-12 mb-4">
        <div class="tittle container-protect__tittle">
          Que lo más importante sea tu salud, cuidala con nosotros
        </div>

      </div>
      <div class="col-4 text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut deleniti repudiandae impedit facilis, qui quam nemo molestiae. Placeat aspernatur cum aperiam magni praesentium cupiditate ad reprehenderit reiciendis. Ratione, molestiae nam.
      </div>
      <div class="col-4 text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A labore atque eaque, harum animi, adipisci dolorum aspernatur pariatur qui magni culpa possimus similique, impedit perspiciatis consequatur molestiae necessitatibus amet ipsam!
      </div>
      <div class="col-4 text-center">
        <button class="button button--secondary">
          Saber más
        </button>
      </div>
    </div>
  </div>
</div>

