<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <img src="assets/img/logo.svg" class="img-fluid" alt="">
      </div>
      <div class="col-4 ">
        <ul>
          <li>Inicio</li>
          <li>Nosotros</li>
          <li>vida</li>
          <li>Promociones</li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li>Faq´s</li>
          <li>Blog</li>
          <li>Aviso de Privacidad</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12 text-center subtitle">
            Redes Sociales
          </div>
          <div class="col-3 icons">
            <img src="assets/img/icons/facebook-f.svg" alt="">
          </div>
          <div class="col-3 icons">
            <img src="assets/img/icons/twitter.svg" alt="">
          </div>
          <div class="col-3 icons">
            <img src="assets/img/icons/instagram.svg" alt="">
          </div>
          <div class="col-3 icons">
            <img src="assets/img/icons/youtube.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
